@import "_bootstrap.scss";
@mixin breakpoint ($point) {
    @if $point == xs {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $point == sm {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }
    @else if $point == md {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }
    @elseif $point == lg {
        @media (min-width: 1200px) {
            @content;
        }
    }
}

@mixin vendorize($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}


#profile {
    min-height: 100% !important;
    height: 100% !important;
    min-width: 100%;
    width: 100%;
    background-color: $yellow;
    #profile_row {
        min-height: 100% !important;
        height: 100% !important;
    }

    #pagination {
       width: 100%;
       padding-left: auto;
       padding-right: auto;
       display: block;
        .pagination-sm {
            display: block;
            width: 45%;
            margin-left: auto;
            margin-right: auto;
            background-color: $yellow;
        }
    }

    #other_users_header {
        padding-left: 16px !important;
    }

    #other_users {
        min-height: 100% !important;
        height: 100% !important;
        min-width: 100%;
        width: 100%;
        padding-left: 16px !important;
         .row {
           min-height: 100% !important;
           height: 100% !important;
        }
        $well-size: 28%;
        $sm-well-size: 75%;
        $text-size: 1.4em;
        $sm-text-size: 1em;
        @include breakpoint('lg') {
            height: 100% !important;
            width: 100% !important;
            li, .modal {
                display: inline-block;
                max-width: $well-size;
                max-height: $well-size;
                height: $well-size;
            }
            .well {
                h4 {
                    font-size: $text-size;
                    padding-top: $text-size / 2;
                    padding-bottom: $text-size / 2;
                }
            }
        }
        @include breakpoint('md') {
            height: 100% !important;
            width: 100% !important;
            li, .modal {
                display: inline-block;
                max-width: $well-size;
                max-height: $well-size;
                height: $well-size;
            }
            .well {
                h4 {
                    font-size: $text-size;
                    padding-top: $text-size / 2;
                    padding-bottom: $text-size / 2;
                }
            }
        }
        @include breakpoint('sm') {
        		height: 250px !important;
        		display: block;
            li, .modal {
            	display: inline-block;
                overflow: auto;
                max-width: $sm-well-size;
                max-height: $sm-well-size;
                height: $sm-well-size;
            }
            .well {
                h4 {
                    font-size: $sm-text-size;
                    padding-top: $sm-text-size / 2;
                    padding-bottom: $sm-text-size / 2;
                }
            }
            #pagination {
            	width: 100% !important;
            	padding-left: auto;
            	padding-right: auto;
            	display: block;
				padding-bottom: 20px !important;
            }
        }
        @include breakpoint('xs') {
        		height: 200px !important;
        		display: block;
            li, .modal {
            	display: inline-block;
                overflow: auto;
                max-width: $sm-well-size;
                max-height: $sm-well-size;
                height: $sm-well-size;
            }
            .well {
                h4 {
                    font-size: $sm-text-size;
                    padding-top: $sm-text-size / 2;
                    padding-bottom: $sm-text-size / 2;
                }
            }
            #pagination {
            	width: 100% !important;
            	padding-left: auto;
            	padding-right: auto;
            	display: block;
				padding-bottom: 20px;
                #pagination_wrapper {
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    text-align: center;
                }
            }
        }
        $alpha: .9;
        $speed: .2s;
        width: 100%;
        h3 {
            margin-left: 2em;
        }
        ul {
            margin: 0;
            padding: 0;
            &.row {
                margin: 0;
                padding: 0;
            }
        }
        li {
            display: block;
            margin: 5px;
            float: left;
            list-style-type: none;
            position: relative;
            overflow: hidden;
            .well {
                width: 100%;
                border: 3px solid white;
                padding: 0;
                overflow: hidden;
                img {
                    margin: auto;
                    @include vendorize('transition', all $speed);
                    display: block;
                    margin-top: 0;
                    padding-top: 0;
                    padding: 0;
                }
                .user_title {
                    @include vendorize('transition', all $speed);
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    height: 100% !important;
                    background-color: transparent;
                    display: block;
                    padding-bottom: 2em;
                    h4 {
                        background-color: $dark-grey;
                        margin-top: auto;
                        margin-bottom: auto;
                        display: block;
                        vertical-align: bottom;
                        text-align: center;
                        color: white;
                    }
                }
                &:hover,
                &:active,
                &:focus {
                    img {
                        @include vendorize('filter', saturate(9));
                    }
                    .well {
                        border: 3px solid $yellow;
                    }
                    .user_title h4 {
                        background-color: transparent;
                        color: white;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
    #user_profile {
        height: 100% !important;
        min-height: 100% !important;
        background-color: white;
        @include breakpoint('xs') {
        	clear: both;
        	display: block;
        	height: 300px;
        }
        @include breakpoint('sm') {
        	clear: both;
        	display: block;
        	height: 300px;
        }
        h3, p, h5 {
            padding-left: 16px;
            color: $dark-grey;
            margin-bottom: 0px;
        }
        #messages_header {
            margin-bottom: 10px;
        }
        small {
            color: $red;
            font-weight: 700;
        }
        .col-xs-6 {
            margin: 0px;
            padding: 0px;
        }
        #profile_pics {
            border-bottom: 15px solid $red;
            margin-top: 10px;
            img {
                display: inline;
                width: 100% !important;
                margin: 0px;
                padding: 0px;
            }
        }
        .panel {
            margin-top: 0;
            margin-bottom: 0;
        }
        /* Messages */

        .name {
            display: inline;
        }
        .conversations {
            h3 {
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 1em;
            }
        }
        .convo_header {
            background-color: $dark-grey;
            color: $yellow;
            border-radius: 10px;
            img {
                display: inline !important;
                width: 3em;
                height: 3em;
                padding: 0;
            }
            &:hover,
            &:active,
            &:focus {
                background-color: $black-grey !important;
            }
            h5 {
                margin-left: 1em;
                color: $light-grey;
            }
        }
        #messages_wrapper {
        	.btn {
        		color: $sky !important;
        	}
            margin: 10px 0px;
            padding: 10px;
            .panel-body {
                margin: 10px 0px;
                padding: 0;
            }
            .messages {
                width: 100%;
                margin: 0;
                padding: 0;
                box-shadow: none;
                border: none;
                max-height: 250px;
                overflow: auto;
                input {
                    color: $dark-grey;
                }
                ul {
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    border: none;
                    li, .list-group-item {
                        margin: 0px 10px;
                        padding: 0px;
                        border: none;
                    }
                    li:first-child {
                        margin-top: 10px;
                    }
                    li:last-child {
                        margin-bottom: 10px;
                    }
                }
                .row {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .message-local {
                    box-shadow: none;
                    border: none;
                    position: relative;
                    float: right;
                    clear: both;
                    max-width: 50%;
                    p {
                        color: $light-grey;
                        background: $dark-green;
                        padding: 5px 10px;
                        border-radius: 25px;
                        margin-bottom: 0px;
                    }
                    span {
                        float: right;
                        clear: both;
                        color: $grey;
                        margin: 0px 5px;
                        padding: 0px;
                    }
                }
                .message-remote {
                    box-shadow: none;
                    border: none;
                    position: relative;
                    float: left;
                    clear: both;
                    max-width: 50%;
                    margin: 0.3em 1em 0em 1em;
                    p {
                        color: $light-grey;
                        background: $dark-blue;
                        padding: 5px 10px;
                        border-radius: 25px;
                        margin-bottom: 0px;
                    }
                    span {
                        float: left;
                        clear: both;
                        color: $grey;
                        margin: 0px 5px;
                        padding: 0px;
                    }
                }
            }
        }
    }
}