<div id="modal">
	<div class="modal-header">
		<h3 class="modal-title"> {{ modalUser.first_name }} & {{ modalUser.dogs[0].name }}</h3>
	</div>
	<div class="modal-body">
		<div class='row'>
			<div class='col-xs-6 image_wrapper'>
				<img preload-image ng-src="{{ modalUser.avatar_url }}" class="img-responsive">
				<p>{{ modalUser.email }}</p>
				<p>{{ modalUser.address }}</p>
			</div>
			<div class='col-xs-6 image_wrapper'>
				<img preload-image ng-src="{{ modalUser.dogs[0].avatar_url }}" class="img-responsive">
				<p> Breed: {{ modalUser.dogs[0].breed }}</p>
				<p> Age: {{ modalUser.dogs[0].age }}</p>
				<p> Gender: {{ modalUser.dogs[0].gender }}</p>
			</div>
		</div>
		<textarea ng-model="new_message.body" class="form-control" rows="3" placeholder="Message Content"></textarea>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="sendMessage(currentUser.id, modalUser.id, new_message.body); close();">Send</button>
		<button class="btn btn-danger" ng-click="dismiss();">Cancel</button>
	</div>
</div>