<div ng-include src="'views/navbar.html'"></div>
<div class="container" id="profile" ng-controller="Conversations">
    <div class="row" id="profile-row">
        <div id="other-users-wrapper" class="col-xs-12 col-sm-12 col-md-6">
            <div class="row" id="all-other-users">
                <h3 id="other-users-header">Users</h3>
                <ul id="other-users">
                    <li ng-repeat="user in pagedUsers" ng-click="open('md', user)">
                        <div class="well">
                            <img preload-image ng-src="{{ user.avatar_url  }}" class="img-responsive">
                            <div class="user_title">
                                <h4>{{user.first_name}} {{user.last_name}}</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-include src="'views/pagination.html'"></div>
        </div>
        <div  id="user-profile" class="col-xs-12 col-sm-12 col-md-6">
            <div class="row">
                <h3>{{currentUser.first_name}} {{currentUser.last_name}} <small>{{currentUser.dogs[0].name}}</small></h3>
                <p>{{currentUser.email}}</p>
                <div id="profile-pics">
                    <div class="col-xs-6"><img preload-image src="{{currentUser.avatar_url }}" alt=""></div>
                    <div class="col-xs-6"><img preload-image src="{{currentUser.dogs[0].avatar_url }}" alt=""></div>
                </div>
            </div>
            <div id="conversations" class="row">
                <h3 id="messages-header">Messages</h3>
                <accordion id="messages-wrapper" close-others="oneAtATime">
                    <accordion-group ng-repeat="conversation in conversations track by $index">
                        <accordion-heading>
                            <div class="convo-header">
                                <img preload-image src="{{ conversation.recipient.avatar_url }}" />
                                <h5 class="name">{{ conversation.recipient.first_name }} {{ conversation.recipient.last_name }}</h5>
                            </div>
                        </accordion-heading>
                        <div class="messages">
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="message in conversation.messages" ng-class="{ 'message-remote': message.userId != currentUser.id, 'message-local': message.userId == currentUser.id }">
                                        <p>{{ message.body }}</p>
                                        <span class="date">{{ message.created_at | date: 'short' }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="new_message.body">
                                    <span class="input-group-btn"><input class="btn btn-primary" type="submit" ng-click="sendMessage(conversation.sender_id, conversation.recipient_id, new_message.body);" ng-enter="sendMessage(conversation.sender_id, conversation.recipient_id, new_message.body);" value="Send"></span>
                                </div>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
            </div>
        </div>
        <!-- div.col-xs-6.profile -->
    </div>
    <!-- div#profile_row -->
</div>
<!-- div.container -->