<div class="navbar navbar-default" ng-controller="UsersController" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">PupPals</a>

        </div>

        <div class="collapse navbar-collapse" ng-class="!isCollapsed && 'in'">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/home')}">
                    <a href="#/home">
                        <span class="icon glyphicon glyphicon-home" aria-hidden="true"></span> Home
                    </a>
                </li>
                <li ng-class="{ active: isActive('/profile')}">
                    <a href="#/profile">
                        <span class="icon glyphicon glyphicon-user" aria-hidden="true"></span> Profile
                    </a>
                </li>
                <li ng-click="logout()">
                    <a href="#/splash">
                        <span class="icon glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout
                    </a>
                </li>
            </ul>
            <div class="navbar-header pull-right">
                <p class="navbar-text navbar-nav">Welcome <b>{{current_user.first_name}}</b></p>
            </div>
        </div>
        <!-- /.nav-collapse -->
    </div>
</div>

<div class="container" id="profile" ng-controller="ConversationsController" ng-init="get_conversations(); set_page();">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 other_users">
            <div class="row">
            <h3>Users</h3>
            <div id="other_users">
                <ul class="row">
                    <li ng-repeat="user in paged_users" ng-click="open('md', user)">
                        <div class="well">
                            <img preload-image ng-src="{{ user.avatar_url  }}" class="img-responsive">
                            <div class="user_title">
                                <h4>{{user.first_name}} {{user.last_name}}</h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
            <div class="row" id="pagination">
                <div id="pagination_wrapper">
                    <pagination class="pagination-sm" boundary-links="true" total-items="total_items" items-per-page="items_per_page" ng-model="current_page" ng-change="set_page();" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </div>
            </div>
        </div>
        <!-- div.conversation, .col-xs-6 -->
        <div class="col-xs-12 col-sm-12 col-md-6" id="user_profile">
            <div class="row">
                <h3>{{current_user.first_name}} {{current_user.last_name}} <small>{{current_user.dogs[0].name}}</small></h3>
                <p>{{current_user.email}}</p>
                <div id="profile_pics">
                    <div class="col-xs-6"><img preload-image src="{{current_user.avatar_url }}" alt=""></div>
                    <div class="col-xs-6"><img preload-image src="{{current_user.dogs[0].avatar_url }}" alt=""></div>
                </div>
            </div>
            <div class="row">
                <h3 id="messages_header">Messages</h3>
                <accordion close-others="oneAtATime" id="messages_wrapper">
                    <accordion-group ng-repeat="conversation in conversations track by $index">
                        <accordion-heading>
                            <div class="convo_header">
                                <img preload-image src="{{ conversation.recipient.avatar_url }}" />
                                <h5 class="name">{{ conversation.recipient.first_name }} {{ conversation.recipient.last_name }}</h5>
                            </div>
                        </accordion-heading>
                        <div class="messages">
                            <div class="row">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="message in conversation.messages" ng-class="{ 'message-remote': message.user_id != current_user.id, 'message-local': message.user_id == current_user.id }">
                                        <p>{{ message.body }}</p>
                                        <span class="date">{{ message.created_at | date: 'short' }}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="new_message.body">
                                    <span class="input-group-btn"><input class="btn btn-primary" type="submit" ng-click="send_message(conversation.sender_id, conversation.recipient_id, new_message.body);" ng-enter="send_message(conversation.sender_id, conversation.recipient_id, new_message.body);" value="Send"></span>
                                </div>
                            </div>
                        </div>
                        <!-- row wrapping .messages -->
                    </accordion-group>
                </accordion>
            </div>
            <!-- senior row wrapping messages -->
        </div>
        <!-- .col-xs-6 .profile -->
    </div>
</div>
<!-- div.container -->